# ─────────────────────────────────────────────
# APP
# ─────────────────────────────────────────────
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ─────────────────────────────────────────────
# DATABASE
# ─────────────────────────────────────────────
# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://corpweexalate_db_user:CKM2e5FadaZJi4BU@tasksimple.zwlxv7a.mongodb.net/?appName=tasksimple

# ─────────────────────────────────────────────
# CLERK AUTH
# https://dashboard.clerk.com → API Keys
# ─────────────────────────────────────────────
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_live_Y2xlcmsudGFzay53ZWV4YWxhdGUuY29tJA
CLERK_SECRET_KEY=sk_live_poo5zJmUIKtmi2I2yhiCQvs6YqOIIuqCfolDUqPdF4

# Redirect URLs
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard

